body {

	color: #681;
	background: rgb(130,185,160);
	min-width: 700px;
}

/* ----------------Banner----------------- */
.banner {
	text-align: left;
	border-style: groove;
	border-color: rgb(130,185,160);
	border-left-width: 2px;
	border-right-width: 2px;
	background-color: white;
	border-bottom: 5px;
	margin-bottom:5px;

	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
}

/*-------------Navigation---------------- */

/* navigation bar */

.Nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;


	border-style: groove;
	border-color: rgb(130,185,160);
	border-left-width: 2px;
	border-right-width: 2px;

	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
}

.Nav li {
	float: left;
	border-right: 1px solid #bbb;
}

.Nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
/* ----Link---- */
.Nav li a:hover {
	background-color: #111;
}
.active {
	background-color: #446f5a;
}

.Nav li:last-child {
	border-right: none;
}

/*---------------Navigation Animation----------------------*/




/*----------------Push up menu-----------*/

/* Initial menu */
.menu {

	background-color: #2f5142;
	left: -285px; /* start off behind the scenes */
	height: 100%;
	position: fixed;
	width: 235px;
}

/* Basic styling */

.menu ul {
	border-top: 1px solid white;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu li {
	border-bottom: 1px solid white;
	font-family: 'Open Sans', sans-serif;
	line-height: 45px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-top: 3px;
}

.menu a {
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
}

.icon-close {
	cursor: pointer;
	padding-left: 10px;
	padding-top: 10px;
}

.icon-menu {
	color: black;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-top: 25px;
	text-decoration: none;
	text-transform: uppercase;
}

.icon-menu i {
	margin-right: 5px;
}

/* ---------------Text------------------ */

.Background{

height:1500px;
	margin-top: 10px;
	background-color: white;


	border-style: groove;
	border-color: rgb(130,185,160);
	border-left-width: 2px;
	border-right-width: 2px;
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
}

/* ---------------Images------------------ */


.Images img{

	width: 417px;
    height: 250px;


	border-style: groove;
	border-color: white;
	border-left-width:5px;
	border-right-width:5px;


    -webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
}


.Images ul {

	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;


	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
}

.Images li{
	float: left;

	border-right: 2px solid #333;
}

.A {
	background-color: rgb(180,160,150);
}

.B {
	background-color: rgb(215,180,105);
}

.C {
	background-color: rgb(125,165,75);
}


.Images li a:link {
	display: block;
	color: black;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
}

/* ----Link---- */

.Images li a:active{
	color:white;

}

.Images li:last-child {
	border-right: none;
}





/* ---------------Impressum------------------ */
.Impressum {

}

.rk {

	text-align: right;
}
