
body {
    color: #681;
	background: rgb(130,185,160);
	min-width: 700px;
}




/* ----Banner---- */
.banner{
	text-align:left;
	
	
	
	border-style: groove;
	border-color: rgb(130,185,160);
	border-left-width:2px;
	border-right-width:2px;
	
	
	background-color:white;
	border-bottom:5px;
    
    -webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	
}


/*-------------Navigation---------------- */

/* navigation bar */

.Nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
    
    border-style: groove;
	border-color: rgb(130,185,160);
	border-left-width:2px;
	border-right-width:2px;
	
    
    margin-top:10px;
    -webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
    
}

.Nav li {
    float: left;
     border-right: 1px solid #bbb;
     
      
}

.Nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.Nav li a:hover {
    background-color: #111;
}
.active {
    background-color: #446f5a;
}

.Nav li:last-child {
    border-right: none;
}
.clearfix:after {
    display:block;
    clear:both;
}
 
.menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#3e3436;
}
 
.menu {
    width:1000px;
    margin:0px auto;
}
 
.menu li {
    margin:0px;
    list-style:none;
    font-family:'Ek Mukta';
}
 
.menu a {
    transition:all linear 0.15s;
    color:yellow;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:/*#be5b70*/ green;
}
 
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:/*#2e2728*/ blue;
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#3e3436;
}



/* ---------------Text------------------ */

.Text{
	
	margin-top:10px;
	
	background-color:white;
	text-align: center;
	color: black;
	font-family: Vivaldi;
	font-size: 15px;
	font-style: italic;
	line-height: 1.8;
	word-spacing: 4px;
	
	
	border-style: groove;
	border-color: rgb(130,185,160);
	border-left-width:2px;
	border-right-width:2px;
	
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	
	
}



.Impressum{
	
	
	
}


.rk{
	
	text-align: center;
	
}





