body {
	color: rgb(130,185,160);
	background: #c0d8cc;
	min-width: 700px;
}

/* ----Banner---- */
.banner {
	text-align: left;
	border-style: groove;
	border-color: rgb(130,185,160);
	border-left-width: 7px;
	border-right-width: 7px;
	background-color: white;
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
}

/*-------------Navigation---------------- */

/* navigation bar */

.Nav ul {
	width: 268px;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: rgb(130,185,160);
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
}

.Nav li a {
	display: block;
	color: #000;
	padding: 8px 0 8px 16px;
	text-decoration: none;
	border-style: groove;
	border-color: rgb(130,185,160);
	border-left-width: 7px;
	border-right-width: 7px;
}

/* Change the link color on hover */
.Nav li a:hover {
	background-color: #555;
	color: white;
}

.Nav li a:active {
	background-color: black;
}

/* ---------------Text------------------ */

.Text {

	width: 737px;
	height: 1000px;
	float: right;
	margin-right: 268px;
	border-style: groove;
	border-color: rgb(130,185,160);
	border-left-width: 7px;
	border-right-width: 7px;
	background-color: white;
	text-align: justify;
	color: black;
	font-family: Vivaldi;
	font-size: 15px;
	font-style: italic;
	line-height: 1.8;
	word-spacing: 4px;
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
}

#to-top.on span {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-o-transform: translateY(0px);
	background-color: rgba(0, 0, 0, 0.95);
	opacity: 1;
	color: white;
}
#to-top span {
	-webkit-transform: translateY(250px);
	-moz-transform: translateY(250px);
	-o-transform: translateY(250px);
	font-size: 0px;
	text-indent: 100px;
	overflow: hidden;
	white-space: nowrap;
	height: 60px;
	width: 70px;
	background-color: black;
	display: inline-block;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.75s;
	-webkit-transition-timing: ease-in-out;
	-moz-transition-property: all;
	-moz-transition-duration: 0.75s;
	-moz-transition-timing: ease-in-out;
	-o-transition-property: all;
	-o-transition-duration: 0.75s;
	-o-transition-timing: ease-in-out;
	-webkit-transition-timing: ease-in-out;
	position: relative;
	opacity: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40px;
	background-image: url("http://www.museumsportal-berlin.de/static/20160609200509/site/img/icons/inv/arrow_up.png");
}
/* author materials */
.author-materials .bx-viewport {
	height: 151px;
	overflow: hidden;
}
.author-materials .slider {
}
.author-materials .material {
	width: 209px;
	overflow: hidden;
	float: left;
	position: relative;
	margin-left: 1px;
}
.author-materials .material:first-child {
	margin-left: 0;
}
.author-materials .material img {
	position: relative;
	z-index: 1;
}
.author-materials .material .text {
	position: absolute;
	top: 0;
	z-index: 3;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.5);
	transition: background 0.2s ease;
}
.author-materials .material h3 {
	font: 12px 'PFDinBold', Arial, sans-serif;
	text-transform: uppercase;
	color: #ff4400;
	padding: 16px 12px;
}
.author-materials .material .date {
	font-size: 8px;
	text-transform: uppercase;
	color: #999;
	display: block;
}
.author-materials .material .intro {
	font-weight: bold;
	color: #fff;
	position: absolute;
	bottom: 0;
	width: 90%;
	text-transform: uppercase;
	padding: 3% 5%;
	line-height: 18px;
	transition: background 0.2s ease;
}
.author-materials .material:hover .text {
	background: none;
}
.author-materials .material:hover h3 {
	display: none;
}
.author-materials .material:hover .intro {
	background: rgba(0,0,0,0.5);
}
.author-materials .bx-controls-direction a {
	width: 25px;
	height: 25px;
	position: absolute;
	top: -35px;
}
.author-materials .bx-next {
	right: 0;
	background: #000 url("http://football.ua/tpl/football/img/icons/arrow-right.png") no-repeat center;
}
.author-materials .bx-prev {
	right: 27px;
	background: #000 url("http://football.ua/tpl/football/img/icons/arrow-left.png") no-repeat center;
}
.author-materials .bx-controls-direction a:hover {
	background-color: #666;
}
/* bxslider */
.bx-wrapper {
	position: relative;
	margin: 0 auto 20px;
	padding: 0;
	*zoom: 1;
}
.bx-wrapper img {
	max-width: 100%;
	display: block;
}
.bx-wrapper .bx-viewport {
	margin-top: 10px;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}
.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(../img/icons/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}
.bx-wrapper .bx-pager {
}
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
}
.bx-wrapper .bx-pager.bx-default-pager a {
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
}
.bx-wrapper .bx-prev {
}
.bx-wrapper .bx-next {
}
.bx-wrapper .bx-prev:hover {
}
.bx-wrapper .bx-next:hover {
}
.bx-wrapper .bx-controls-direction a {
	position: absolute;
	outline: 0;
	text-indent: -9999px;
}
.bx-wrapper .bx-controls-auto {
	text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover, .bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover, .bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}
.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}
.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}

#to-top {
	position: fixed;
	bottom: 0px;
	right: 0px;
	display: block;
	color: black;
	text-align: center;
	z-index: 950;
	overflow: hidden;
	height: 60px;
	width: 70px;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
}

