body {
	text-align: center;
	color: #681;
	background: rgb(130,185,160);
	min-width: 700px;
	width: 950px;
	text-align:left;  
  margin: 0 auto;   /* Zentrierung mitte */
  background-image: url(images/background2.png);
  

}

#page {
    
    min-width: 500px;
    max-width: 1200px;
}

div.bg {

background-color:orange;

height: 500px;


}

/* ----------------Banner----------------- */
.banner {
	text-align: left;
	padding-right: 15px;
padding-top: 10px;

	border-left-width: 2px;
	border-right-width: 2px;
	background-color: white;
	padding-bottom: 40px;
	margin-bottom:0px;
	height:150px;
	
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
}

/*-------------Navigation---------------- */

/* navigation bar */
nav{width: 911px;
	margin:0px;
	text-align: left;
	
	}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}
	
	nav ul {
	background: gray; 
	background: linear-gradient(top, #707070 0%, #3B3B3B 100%);  
	background: -moz-linear-gradient(top, #707070 0%, #3B3B3B 100%); 
	background: -webkit-linear-gradient(top, #707070 0%,#3B3B3B 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
margin: 0px;
    width:100%;
	list-style: none;
	position: relative;
	display: inline-table;
	font-weight:bold;
	font-size: 12px;
	font-family:Open Sans;
	
	 
	
	
}
	nav ul:after {
		content: ""; clear: both; display: block;
		 text-align: left;
	}
	
	nav ul li {
	float: left;
}
	nav ul li:hover {
		background: red;
		background: linear-gradient(top, #707070 0%, #3B3B3B 40%);
		background: -moz-linear-gradient(top, #707070 0%, #3B3B3B 40%);
		background: -webkit-linear-gradient(top, #707070 0%,#3B3B3B 40%);
		
		
	}
		nav ul li:hover a {
			color: white;
		}
	
	nav ul li a {
		display: block; padding:20px; padding-right: 60px; padding-top: 20px; padding-bottom:30px;
		color: white; text-decoration: none;
		min-width: 10px;
		text-align: left;
	}
	nav ul li ul {
		width: 159px;
	}
	nav ul ul {
	background: #3B3B3B; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
	nav ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
	}
		nav ul ul li a {
			padding: 10px; padding-top: 20px; padding-bottom: 20px;
			color: #fff;
			text-align: left;
		}	
			nav ul ul li a:hover {
				background: #446f5a;
			}

			nav ul ul ul {
	position: absolute; left: 100%; top:0;
}
.active {
	background-color: #446f5a;
	 padding:20px; padding-right: 70px; padding-top: 20px; padding-bottom:30px;
	
	
}
.globus { float:right;
		padding:8px;}
/*---------------Navigation Animation----------------------*/




/*----------------Push up menu-----------*/

/* Initial menu */
.menu {

	background-color: #2f5142;
	left: -285px; /* start off behind the scenes */
	height: 100%;
	position: fixed;
	width: 235px;
}

/* Basic styling */

.menu ul {
	border-top: 1px solid white;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu li {
	border-bottom: 1px solid white;
	font-family: 'Open Sans', sans-serif;
	line-height: 45px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-top: 3px;
}

.menu a {
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
}

.icon-close {
	cursor: pointer;
	padding-left: 10px;
	padding-top: 10px;
}

.icon-menu {
	color: black;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-top: 25px;
	text-decoration: none;
	text-transform: uppercase;
}

.icon-menu i {
	margin-right: 5px;
}


/* ---------------Text------------------ */

.Text {

	
	
	text-align: justify;
	color: black;
margin-bottom: 50px;
	font-size: 13px;
	padding-top: 30px;
	line-height: 1.8;
	word-spacing: 2px;
padding-right: 40px;
	
	font-family:Open Sans;
	

	
	
}

h1 {
	
	
	text-align: justify;
	padding-bottom: 13px;
	
	
	
}

h2 {
	font-size: 16px;
	color: #333;
}
.Background{

    padding-left:100px;
	padding-right: 80px;
	margin:0px;
	background-color: white;
	color: black;
	float:left;
	margin-bottom: 10px;
	border-left-width: 2px;
	border-right-width: 2px;
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
}
/* ---------------Images------------------ */

.Images {
	margin-bottom: 50px;
	margin-top: 30px;
    width: 330px;
    position: relative;
	float:left;
	bottom:0px;
	margin-right: 55px;
	
	
}
.Images spanA{
	background-color: rgb(180,160,150);
	background-color: rgba(180,160,150,0.8);
   
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 5em;
    text-align: center;
	text-decoration:none;
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-family: Open Sans;
}
.Images spanB{
	background-color: rgb(215,180,105);
	background-color: rgba(215,180,105,0.8);
   
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 5em;
    text-align: center;
	text-decoration:none;
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-family: Open Sans;
}
.Images spanC{
	background-color: rgb(125,165,75);
	background-color: rgba(125,165,75,0.8);
   
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 5em;
    text-align: center;
	text-decoration:none;
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-family: Open Sans;
}
.Images Minigrad{
	background-color: rgb(255,255,115);
	background-color: rgba(255,255,115,0.8);
   
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 5em;
    text-align: center;
	text-decoration:none;
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-family: Open Sans;
}

.Images img{
	display: block;
}




/* ---------------Impressum------------------ */
.Impressum {

}

.rk {

	text-align: right;
	padding-top: 20px;
	margin:0px;
}

.audio1 {margin-left: 220px;}


