.similar {
	background-color: white;
	color: black;
	text-align:right;
}

.similar ul{
	display:block;
	width: 70%;
	margin: 0;
	padding: 0.5em;
	background-color: #303728;
	z-index: 1;
}

.similar:hover{
	display:block;
	width: auto;
	margin: 0;
	padding: 0.5em;
	background-color: #303728;
}
.similar li {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}

.similar a {
	display: block;
	text-decoration: none;
	background-color: #303728;
	color: darkseagreen;
	padding: .2em;
	margin: .2em;
	border-bottom: 1px dotted greenyellow;
	-webkit-transition: background-color .25s ease-in;
	transition: background-color .25s ease-in;
}

.similar a:focus,
.similar a:hover,
.similar a span {
	color: #303728;
	background-color: greenyellow;
	-webkit-transition: background-color 0.01s;
	transition: background-color 0.01s;
}


.similar:after {
	clear: left;
	content: "";
}