.img_left{
	float: left;
	margin: 5px 20px 15px 5px; 
	width:160px; 
	height:160px;
} 
	
.read_more_btn{
	background: black;
	border-radius: 10px;
	color: white;
	float: right;
	margin-bottom:5px;
	padding: 2px 2px 2px 2px;
	font-weight: bold;
}

.read_more_box{
	border: 2px gray solid;
	border-radius: 7px;
	min-height: 250px;
	padding: 5px 15px 20px 15px ;
	margin-bottom:15px;
}

a.read_more_btn 		{ text-decoration:none; }
a.read_more_btn:hover 	{ background-color:rgb(125,165,75); }

.single_img {
	margin:10px auto;
	max-height:310px;
	width: auto;
	text-align:center;
}